.serviceCard{
    background-color:whitesmoke;
    background-size:cover;
    background-position-y: center;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items:flex-end;
}
.name{
    background-color: whitesmoke;
    /* border: 1px solid black; */
    position: relative;
    bottom:-38px;
    padding: 2px 25px;
    border-radius: 10px;
}