html{
  height: 100%;
  background: #FDEDEC;
}
.App {
  text-align: center;
  height: 100%;
}
body{
  background: linear-gradient(#F1948A, #FDEDEC);
  background-repeat:no-repeat;
  height: 100%;
}
.routes {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  /* animation-fill-mode: forwards; */
  z-index: 2;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
.homepage{
  /* background-color:red; */
}
#bodyContent{
  display:flex;
  padding: 50px 15px;
}
#bodyContent > div{
  width:50%;
}
#leftBodyLogo{
  display:flex;
  justify-content: left;
}
#rightBody{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#rightBodyButton{
  width: 100%;
  display:flex;
  justify-content:center;
  margin-bottom: 100px;
}
@media (max-width:700px){
  #bodyContent{
    display:flex;
    flex-direction:column;
    /* background-color:blue; */
    padding: 50px 20px;
  }
  #leftBodyLogo{
    justify-content:center;
  }
  #bodyContent > div{
    width:100%;
  }
  #rightBody{
    /* background-color: red; */
  }
}