html,body{
  height: 100%;
  overflow-x:hidden;
}

.App {
  text-align: center;
  height: 100%;
}

.routes {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  z-index: 2;
}
.homepage{
  display:flex;
  flex-direction:column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
#backgroundImg{
  position:fixed;
  background-image: url('../public/nails6.png');
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}
#forefront{
  width: 100%;
  height: 100%;
  z-index: 2;
}
#bodyContent2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgrey;
}
#bookingPage{
  height: 80vh;
}
#bodyContent{
  background: 
  linear-gradient(-.15turn,
      rgba(190,190,190,1) 0%,
      rgba(255,255,255,1) calc(50% - .8px),
      rgba(190,190,190,1) 50%,
      rgba(230,230,230,1) calc(52% + 1%),
      rgba(230,230,230,1) 100%);
  display:flex;
  min-height: 600px;
  padding: 50px 15px 50px 30px;
  margin-top: -5px;
}
#bodyContent > div{
  width:50%;
}
#leftBodyLogo{
  display:flex;
  justify-content: left;
}
#rightBody{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#rightBodyButton{
  width: 100%;
  display:flex;
  justify-content:center;
  margin-bottom: 40px;
}
#rightBodyCarousel{
  display: flex;
  justify-content: center;
  width: 70%;
  height: 70%;
  min-width: 200px;
  min-height: 300px;
  border: 10px solid lightgrey;
  border-radius: 10px;
}
@media (max-width:700px){
  #bodyContent{
    display:flex;
    flex-direction:column;
    padding: 50px 20px;
  }
  #leftBodyLogo{
    justify-content:center;
  }
  #bodyContent > div{
    width:100%;
  }
}
#photoTitle{
  border: 4px solid black;
  padding: 10px 15px;
}

#seeThrough{
  background: rgba(0,0,0,.8);
  height: 200px;
}
#services{
  display: flex;
  justify-content: space-around;
  padding-bottom: 80px;
}