.bannerwrap{
    width: 100%;
    height: auto;
    max-height: 600px;
    overflow:hidden;
}
.banner{
    height: auto;
    width: 100%;
}

@media (max-width: 1062px){
    .bannerwrap{
        margin-bottom:-4px;
    }
}